<div class="container">
  <div class="section" [formGroup]="form">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Search" formControlName="search"/>
    </nz-input-group>
    <hr/>
    <button nz-button
      nzSize="large"
      nzType="primary"
      [style.width]="'100%'"
      (click)="onRandom()"
    >
      Random Cocktail!
    </button>
  </div>
  <div class="section">
    <app-cocktail-list [searchForm]="form"/>
  </div>
</div>


<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
