<ng-container *ngIf="cocktails$ | async as cocktails">
  <nz-table
    #table
    [nzData]="cocktails"
    *ngIf="!(isLoading$ | async)"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Alcohol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cocktail of table.data">
        <td>
          <a [routerLink]="['cocktails', cocktail.idDrink]">{{ cocktail.strDrink }}</a>
        </td>
        <td>{{ cocktail.strCategory }}</td>
        <td>
          <app-alcoholic-renderer [alcoholType]="cocktail.strAlcoholic"/>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
<progress *ngIf="(isLoading$ | async)"
  class="progress is-large is-link"
  max="100">
</progress>
